* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #fdf5f4; */
  font-family: Calibri;
}
.xanh-dam {
  background-color: #4682b4;
}
.xanh-nhat {
  background-color: #f0f8ff;
}
.about-me-mobile {
  display: none;
}
/* Navigation */
#nav {
  z-index: 10;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #f0f8ff;
  box-shadow: rgba(255, 0, 0, 0.3) 2px 0 0;
}
#nav a {
  font-size: 24px;
  display: inline-block;
  color: #000;
  padding: 16px 24px;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.3);
}
#nav a:hover {
  color: #fff;
  background-color: #b3d5f2;
}
/* about me  */
#about-me {
  padding-top: 60px;
}

.interview {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.interview i {
  font-weight: 700;
  font-size: 26px;
}
.interview h1 {
  font-size: 72px;
  color: #f0f8ff;
  text-shadow: 2px 0 0 #000;
}
.interview h4 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}
.interview span {
  font-size: 25px;
  color: #f0f8ff;
  text-shadow: 2px 0 0 #000;
}
.interview p {
  margin-top: 20px;
  font-size: 22px;
  text-align: justify;
  color: #000;
}
.xanh-dam h2 {
  color: #f0f8ff;
}
.xanh-nhat h2 {
  color: #000;
}
h2 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  padding: 30px 0;
}
/* Qualification */
#qualification{
  margin-top: -20px;
  margin-bottom: -20px;
}
#qualification img {
  width: 100%;
}
/* certificate */
#certificate {
  padding-bottom: 20px;
}

#certificate .pgwSlider img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}

.event-name a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  color: #f0f8ff;
}

/* contact */
#contact {
  padding: 30px 0;
}
#contact .thank-you h3 {
  text-align: center;
  padding-left: 83px;
  line-height: 100px;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 95px;
  font-family: Amber Strong;
}
#contact .thank-you h4 {
  text-transform: uppercase;
  font-size: 50px;
  padding-left: 60px;
  font-weight: 100;
  color: #4682b4;
}
#contact .box {
  padding-top: 20px;
}
#contact .box p {
  font-weight: 200;
  font-size: 28px;
  color: #000;
  font-weight: 100;
  text-align: center;
}
#contact .box h4 {
  font-size: 30px;
  display: inline-block;
  font-weight: 800;
  color: #4682b4;
}
#contact .box .ti-layout-line-solid {
  font-size: 100px;
}
.social-list {
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.social-list a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 24px;
  color: #4682b4;
}
@media screen and (min-width: 740px) and (max-width: 1239px) {
  #about-me img {
    object-fit: contain;
  }
  .title .interview h1 {
    font-size: 39px;
  }
  .title .interview h4 {
    font-size: 30px;
  }
  .title .interview span {
    font-size: 19px;
  }
  .title .interview p {
    font-size: 14px;
  }
  #contact .thank-you h3 {
    padding-left: 75px;
  }
  #contact .thank-you h4 {
    text-align: center;
    font-size: 56px;
    padding-left: 0;
  }
  #contact .box p {
    font-size: 21px;
  }
  .event-name a {
    font-size: 10px;
  }
}
@media screen and (max-width: 739px) {
  #nav {
    display: none;
    min-height: 12px;
  }
  #nav a {
    display: none;
  }
  .about-me-pc {
    display: none;
  }
  .about-me-mobile {
    display: block;
  }
  #contact .thank-you h3 {
    padding-left: 26px;
    font-size: 40px;
    letter-spacing: 23px;
  }
  #contact .thank-you h4 {
    padding: 0;
    font-size: 26px;
    text-align: center;
  }
  #contact .box p {
    font-size: 11px;
  }
  #contact .box .address p {
    font-size: 20px;
  }

  .interview i {
    font-size: 17px;
  }
  .interview h1 {
    font-size: 27px;
  }
  .interview h4 {
    font-size: 21px;
  }
  .interview span {
    font-size: 13px;
  }

  .about-me-mobile {
    display: flex;
    align-items: center;
  }
  .about-me-mobile p {
    text-align: justify;
    padding-top: 60px;
    font-size: 11px;
  }
  .event-name a {
    display: none;
    font-size: 5px;
  }
  .social-list {
    margin-top: 24px;
    margin-bottom: 1px;
  }
  .social-list a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 24px;
  }
  .about-me-mobile .social-list a {
    color: #000;
    margin: 0 12px;
  }
  #contact .social-list {
    display: none;
  }
}
